.bra {
    background-color: black;
    color: white;

    font-weight: bold;

    text-align: center;
    font-variant-caps: all-small-caps;
   
    
}

.body{
    
    background-color: beige;
}
.p{
    background-color: black;
    color: white;

    font-weight: bold;

    text-align: center;
    font-variant-caps: all-small-caps;
   
}
.poetry{
    text-align: center;
}